<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  
    <pages>
        <page
            id="concacaf"
            template="concacaf-ranking-overview"
            navitem="true"
            navweight="7"
            model="CONCACAFRankingModel"
            parentItem="internationalcups"
            role="user">
        </page>
        <page
            id="concacafchampionscup"
            template="continental-cup"
            navitem="true"
            navweight="8"
            model="CONCACAFChampionsCupModel"
            parentItem="internationalcups"
            role="user">
        </page>
    </pages>
     
</module>
