<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    
    <admin>
        <adminpage
            id="country"
            entity="country"
            navcategory="league"
            permissionrole="r_daten" >

            <entity dbtable="land" >

                <overview
                    delete="true"
                    edit="true" >

                    <column
                        id="entity_country_name"
                        field="name"
                        type="text"
                        sort="true"
                        filter="true" />

                    <column
                        id="entity_country_continent"
                        field="continent"
                        type="text"
                        sort="true"
                        filter="true" />

                    <column
                        id="entity_country_uefa_s1"
                        field="uefa_s1"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_s2"
                        field="uefa_s2"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_s3"
                        field="uefa_s3"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_s4"
                        field="uefa_s4"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_s5"
                        field="uefa_s5"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_cl"
                        field="uefa_cl"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_ul"
                        field="uefa_ul"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_country_uefa_conf"
                        field="uefa_conf"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_uefa_coeff"
                        field="uefa_coeff"
                        type="text"
                        sort="true"
                        filter="true" />

                    <column id="entity_country_conmebol_s1" field="conmebol_s1" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_s2" field="conmebol_s2" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_s3" field="conmebol_s3" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_s4" field="conmebol_s4" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_s5" field="conmebol_s5" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_lib" field="conmebol_lib" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_sud" field="conmebol_sud" type="text" sort="true" filter="true" />
                    <column id="entity_country_conmebol_coeff" field="conmebol_coeff" type="text" sort="true" filter="true" />
                </overview>

                <editform>

                    <field
                        id="name"
                        type="text"
                        required="true"  />
                    <field
                        id="continent"
                        type="text"
                        required="true"  />
                    <field
                        id="uefa_s1"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_s2"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_s3"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_s4"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_s5"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_cl"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_ul"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_conf"
                        type="number"
                        required="true"  />
                    <field
                        id="uefa_coeff"
                        type="number"
                        required="true"  />
                    <field id="conmebol_s1" type="number" required="true" />
                    <field id="conmebol_s2" type="number" required="true" />
                    <field id="conmebol_s3" type="number" required="true" />
                    <field id="conmebol_s4" type="number" required="true" />
                    <field id="conmebol_s5" type="number" required="true" />
                    <field id="conmebol_lib" type="number" required="true" />
                    <field id="conmebol_sud" type="number" required="true" />
                    <field id="conmebol_coeff" type="number" required="true" />

                </editform>
            </entity>
        </adminpage>
    </admin>

    <pages>
        <page
            id="uefa"
            template="uefa-ranking-overview"
            navitem="true"
            navweight="1"
            model="UEFARankingModel"
            parentItem="internationalcups"
            role="user">
        </page>
        
    </pages> 
     
</module>