<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="transfermarket" version="1.0.0"/>
        <dependency module="mywatchlist" version="1.0.0"/>
    </dependencies>
    
    <pages>
        <page
            id="playerssearch"
            template="playerssearch"
            model="PlayersSearchModel"
            navitem="true"
            navweight="4"
            parentItem="transfermarket"
            navitemOnlyForConfigEnabled="transfermarket_enabled"
            role="user" />     
    </pages> 
    
</module>
